@import url(https://fonts.googleapis.com/css2?family=Caladea&display=swap);

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Caladea', serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.banner {
    width: 100%;
    height: 100vh;
    background-image: url("../img/liver.jpg");
    background-size: cover;
    position: relative;
}

.nav {
    width: 1100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}

.nav .logo {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1.5px;
}

.nav .frase {
    font-family: Roboto;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    position: absolute;
    top: 8rem;
    left: 20%;
    right: 20%;
    height: 1px;
}

.nav .menu {
    width: 45%;
}

.nav .menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .menu .ul .li {
    list-style: none;
}

.nav .menu ul li a {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: white;
    text-decoration: none;
}

.nav .menu .active {
    color: rgb(241, 241, 71);
}

.banner-clip-path {
    display: flex;
    align-items: center;
}

.bio {
    margin-top: 10%;
    width: 40vh;
    position: absolute;
    font-size: 30px;
    color: white;
    padding: 1rem;
    left: 100px;
}